backend/app/__pycache__/main.cpython-311.pyc
/backend/app/api/__pycache__
/backend/app/core/__pycache__
/backend/app/infrastructure/__pycache__
/backend/app/services/__pycache__
/backend/app/__pycache__
backend/app/data/content_data.json
